
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src:url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), 
  url('../fonts/roboto-v20-latin-regular.woff') format('woff'); 
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v20-latin-500.woff2') format('woff2'), 
  url('../fonts/roboto-v20-latin-500.woff') format('woff'); 
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v20-latin-700.woff2') format('woff2'), 
  url('../fonts/roboto-v20-latin-700.woff') format('woff'); 
}

* {
  box-sizing: border-box;
}

body { 
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Aria", sans-serif;
  background-color: #9cb5c4;
}

.chat-clone {
  width: 350px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}

.header {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #50758b;
}

.circle {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 10px;
}

.header p {
  padding: 0;
  margin: 0;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}

.close-img {
  flex-grow: 1;
  text-align: end;
}

img:hover path {
  fill: #fff;
}

.middle {
  padding: 15px 15px;
}

.today {
  padding: 0;
  margin: 0;
  text-align: center;
  color: #ccd0d4;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
}

.time {
  padding: 0;
  margin: 0;
  padding: 5px;
  color: #a7aaad;
  font-size: 11px;
  font-weight: 700;
}

.left-mes {
  display: flex;
}

.left{
  width: 10px;
  height: 10px;
  border-radius: 99% 1% 0% 100% / 1% 30% 70% 99% ;
  background-color: #cee1ec;
}

.message {
  width: 230px;
  padding: 10px;
  font-size: 13px;
  background-color: #cee1ec;
  border-radius: 3px;
}

.message p {
  padding: 0;
  margin: 0;
  font-weight: 500;
}

.reply-time {
  margin-top: 10px;
  text-align: end;
}

.right {
  width: 10px;
  height: 10px;
  border-radius: 99% 1% 100% 0% / 1% 0% 100% 99%  ;
  background-color: #e8edf1;
}

.second {
  background-color: #e8edf1;
}

.right-mes {
  display: flex;
  justify-content: flex-end;
}

.repl-time {
  margin-top: 15px;
  text-align: start;
}

.third {
  width: 90px;
}

.last {
  width: 200px;
  background-color: rgb(231, 163, 178);
  margin-top: 15px;
}

.footer {
  padding-left: 10px;
  padding-right: 10px;
}

.inner {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 15px;
  border-top: 1px solid rgb(189, 189, 189);
  justify-content: space-between;
}

.inner p {
  margin: 0;
  padding: 0;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  color: #5d92b1;
}

.inner input {
  border: none;
  font-size: 14px;
  font-weight: 500;
}